<% if @proteins.nil? %>
	No matches.
<% else %>	

	The following proteins were returned:<br/>
	<%= @proteins.join(", ")%><br/>
	                                       
	
	<div style="display: none;">
		<div class="gaggle-data">

		  <span class="gaggle-name">ORF Names for Halobacterium sp. NRC-1</span>
		     species=<span class="gaggle-species">Halobacterium sp. NRC-1</span>
		     <span class="gaggle-size"><%= @proteins.size%></span>
		  <div class="gaggle-namelist">
		   <ol>
				<% for protein in @proteins %>
					<li><%=protein%></li>
				<% end %>
		   </ol>
		  </div>
		 </div>
	</div>
	<%= render :partial => 'fg_fire_event' %>
	
	<p>&nbsp;</p>
	
	<a id="heatmap_link" title="Toggle Heatmap" href="#">Heatmap</a> |
	<a id="plot_link" title="Toggle Plot" href="#">Plot</a> |
	<a id="table_link" title="Toggle Numeric Data" href="#">Numeric Data</a> |
	<a id="network_link" title="Toggle Network" href="#">Network</a> |
	<a id="annotations_link" title="Toggle Annotations" href="#">Annotations</a>
	<!-- todo add "generate metadata for inferelator" link -->
	
	
	<div id="heatmap_script"></div>
	<div id="heatmap" class="vis"></div>

	<div id="table_script"></div>
	<div id="table" class="vis"></div>     
	
	<div id="plot_script"></div>    
	<div id="plot_loader"></div>
	<div id="plot" class="vis"></div>
	
	<div id="network_script"></div>
	<div id="network" class="vis"></div>
	<div id="net_legend" class="vis"></div>
	
	<div id="annotations" class="vis"></div>
	
	
	<p>&nbsp;</p>
	
	<%#= render :partial => "annotations", :locals => {:annotations => @annos }%>
	
	<div id="vis">
	<%#= render :partial => "heatmap", :locals => {:data => @heatmap} %>
	
	<%#= render :partial => "plot", :locals => {:data => @plot}%>    
	
	
	<%#= render :partial => "network", :locals => {:data => @network}%>
	</div>
	
<% #  <input type="button" id="clear_search" class="clear_search" value="Clear Search"></input> %>
<% end %>