<script type="text/javascript">         
	heatmap_data = new google.visualization.DataTable(<%=data%>,0.5);
	heatmap.draw(heatmap_data, heatmap_options);
	//table.draw(heatmap_data, {});   
</script>

