<div class="search_area">
<h2>Gene Search</h2>
Search for genes from this set of conditions. Search using all or part of a protein name, annotation, COG ID, GI or Gene ID number<br/>

Example searches:<br/>
<p align="center">
tfbA copper<br/>
vng117 vesicle<br/>
glycerate<br/>
COG0778C<br/>
peroxidase<br/>
1467836<br/>
<input class="search_box" id="search_box_<%=@exps.map{|i|i.id}.join(",")%>"></input><br/>
</p>
</div>

<p>
<div class="vis" id="load_status"></div>

<div class="vis" id="search_results">
</div> 

<div class="vis" id="heatmap"></div> 
<div class="vis" id="heatmap_info" class="heatmap_info"></div>
<div class="vis" id="table"></div>
<div class="vis" id="plot"></div>   
<div class="vis" id="net_legend"></div>
<div class="vis" id="network"></div>

</p>
