<h2>Indirect DataMatrix</h2>
<div name="gaggle_xml" class="hidden">
    <gaggleData version="0.1">
        <dataMatrix type="indirect" name="test-matrix-indirect" species="Halobacterium sp. NRC-1" size="8,1"
            url="http://localhost:3000/main/test_matrix">
        </dataMatrix>
    </gaggleData>
</div>
    <h2>Indirect NameList</h2>
    <div name="gaggle_xml" class="hidden">
        <gaggleData version="0.1">
            <namelist type="indirect" name="Orf names indirect" species="Halobacterium sp. NRC-1" url="file:/Users/cbare/Documents/work/eclipse-workspace-isb/FireGoose/etc/namelist.txt" size="18"/>
        </gaggleData>
    </div>
