<% if @tag.nil? %>
	All Experiments:<br/>
<% else %>
	All Experiments with tag "<%=@tag%>":<br/>
<% end %>

<% for exp in @exps %>
	<ul>
		<li><a href="<%=url_for :action => 'edit_exp', :id => exp.id %>"><%=exp.name%></a></li>
		<ul><% for cond in exp.conditions%><li><%=cond.name%></li><% end%></ul>
	</ul>
<% end %>