<html>
  <head>
	<title>Sparkline Test</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["imagesparkline","table"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();

		<% for col in @columns %>
			data.addColumn("number", "<%=col%>");
		<% end %>

        data.addRows(<%= @columns.size * @exp.conditions.size %>);
		<% @columns.each_with_index do |col,i| %>
			<% @h[col].each_with_index do |value,j| %>
				data.setValue(<%=j%>,<%=i%>,<%=value%>);
			<% end %>
		<% end %>

        var chart = new google.visualization.ImageSparkLine(document.getElementById('chart_div'));
        chart.draw(data, {width: 120, height: 40, showAxisLines: false,  showValueLabels: false, labelPosition: 'left'
		<% if params['normalized'] == 'true' %>
		,min: [<%=@minrange.join(",")%>], max: [<%=@maxrange.join(",")%>]
		<%end%>
		});      

		//var table = new google.visualization.Table(document.getElementById('table_div'));
		//table.draw(data, {});

      }
    </script>
  </head>

  <body>       
	
	<p>Metadata sparklines for experiment: <%=@exp.name%></p>
	
    <div id="chart_div"></div>

Normalized: <%= !params['normalized'].nil?%><br/>

	<div id="table_div"></div>

  </body>
</html>