#vis {
    z-index: 1;
}             

#annotations-menu {
    z-index: 2;
}
          
#sparkline {
    width: 120px;
}          

.hide-me-away {
    display:block!important; /* overrides the display:none in the original rule */
    height:0!important;
    width:0!important;
    border:none!important;
    visibility:hidden!important;
}
   
.gaggle {
    visibility: hidden;
}  

.select_box_group {
	border: 1px solid black;
	padding: 5px;
	width: 300px;
}

FIELDSET {
	display: inline;
	padding: 0px;
	border: none;
}


ul.test3col { clear:both;}
ul.test3col li { 	padding: 0; margin: 0; display: inline; list-style:none; }
.r_column { margin: 0 5px; display: block; float:left; width: 12em; /*border: 1px solid #333*/} 



/*.draggable  { width: 300px; height: 50px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; } */


#droppable { width: 300px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

.leftcontent {
    position: absolute;
    left:10px;
    top:300px;
    width:400px;
    background:#fff;
    border:1px solid #000;  
    z-index: 100;
}

.centercontent {
    position:absolute;
    background:#fff;
    top:300px;
    margin-left: 399px;
    border:1px solid #000;
    voice-family: "\"}\"";
    voice-family: inherit;
    margin-left: 401px;
	}

html>body .centercontent {
margin-left: 401px;
	}


.sidebar {
    float:left;
    width:400px;
}

.main {
    width:600px;
    float:right;
}

.wrap { 
    position:relative;
    width:1000px;
    margin:0 auto;
}

.threecolwrap {
    width:100%;   
    margin:0 auto;
}

.col1 {
    top:1px;
    width:33%;     
    margin-left:0%;
    margin-right:33%;
	float:left; 
}
.col2 {
    top:1px;
	width:33%;
	margin-left:33%;
	margin-right:66%;
/*	float:none; */
}
.col3 {
    top:1px;
/*	width:33%;*/
	margin-left:66%;  
/*	float:right;*/
}


