#vis {
    z-index: 1;
}             

#annotations-menu {
    z-index: 2;
}
          
#sparkline {
    width: 120px;
}          

.hide-me-away {
    display:block!important; /* overrides the display:none in the original rule */
    height:0!important;
    width:0!important;
    border:none!important;
    visibility:hidden!important;
}
   
.gaggle {
    visibility: hidden;
}  

.select_box_group {
	border: 1px solid black;
	padding: 5px;
	width: 300px;
}

FIELDSET {
	display: inline;
	padding: 0px;
	border: none;
}