<html>
<head>
	<title><%= @page_title || "GWAP2" %></title>
	<%= javascript_include_tag "jquery-1.3.2.min" %>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>     
	<%= javascript_include_tag "gwap2" %>   
</head>
<body>
<div id="page">
<%= yield :layout %> 

</div>
</body>
</html>
